{%extends 'base.html'%}

{%block content%}
<h1>
    Doctor List
</h1>
<a href="{%url 'doctor:create-doctor' %}" class="btn btn-primary">CREATE</a>
<hr>
<div class='container'>
<div class='row'>
    {%for doctor in doctors%}
    <div class='col-md-4'>
        <div class="card" style="width: 18rem;">
            <img src="{{doctor.profile_picture.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{doctor.name}}</h5>
              <p class="card-text">{{doctor.specialty}}</p>
              <p class="card-text">{{doctor.gender}}</p>
              <a href="{%url 'doctor:doctor-delete' doctor.id%}" class="btn btn-danger">DELETE</a>
              <a href="{%url 'doctor:doctor-update' doctor.id%}" class="btn btn-secondary">UPDATE</a>
            </div>
          </div>
    </div>
    {%endfor%}
</div>
</div>



{%endblock%}