{%extends 'base.html'%}

{%block content%}
<h1>
    Doctor List
</h1>
<hr>
<div class='container'>
<div class='row'>
    {%for doctor in doctors%}
    <div class='col-md-4'>
        <div class="card" style="width: 18rem;">
            <img src="{{doctor.profile_picture.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{doctor.name}}</h5>
              <p class="card-text">{{doctor.speciality}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    {%endfor%}
</div>
</div>



{%endblock%}